{% extends 'chado/base.html' %}
{% load static %}
{% block content %}
<div class="page-header" id=banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Features from "{{ query_string }}"</h1>
            <p class="lead">{{ result_features.paginator.count }} results.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Results per page</label>
                <div class="col-sm-10">
                    <select class="form-control" ONCHANGE="location = '?q={{ query_string }}&page={{ result_features.number }}&num=' + this.options[this.selectedIndex].value;">
                        {% for o in result_nums %}
                        <option{% if o == result_features.paginator.per_page %} selected{% endif %}>{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <p>Viewing results {{ result_features.start_index }} through {{ result_features.end_index }}</p>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Organism</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for r in result_features %}
                <tr>
                    <td>{{ r.name }}</td>
                    <td>{{ r.organism.common_name }}</td>
                    <td><a href="{% url 'feature_view' r.feature_id %}">view</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center">
            <ul class="pagination">
                <li class="{% if result_features.has_previous %}enabled{% else %}disabled{% endif %}"><a href="{% if result_features.has_previous %}?q={{ query_string }}&page={{ result_features.previous_page_number }}{% else %}#{% endif %}">&laquo;</a></li>
                {% for p in result_features.paginator.display_page_range %}
                <li class="{% if p == result_features.number %}disabled{% else %}enabled{% endif %}"><a href="?q={{ query_string }}&page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                <li class="{% if result_features.has_next %}enabled{% else %}disabled{% endif %}"><a href="{% if result_features.has_next %}?q={{ query_string }}&page={{ result_features.next_page_number }}{% else %}#{% endif %}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
