{% extends 'chado/base.html' %}
{% load static %}
{% block css %}
<style type="text/css">
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 50px; /* below the main navbar */
    z-index: 100;
    border-top: 0;
} 
#collapsible { /* hides by default */
    height: 0;
    overflow: hidden;
}
#table_wrapper {
    max-height: 300px;
    overflow: auto;
    margin: 0 0 20px 0;
}
</style>
{% endblock %}
{% block content %}
<div class="page-header" id=banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Features from "{{ query_string }}"</h1>
            <p class="lead">{{ result_features.paginator.count }} results.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Results per page</label>
                <div class="col-sm-10">
                    <select class="form-control" ONCHANGE="location = '?q={{ query_string }}&page={{ result_features.number }}&num=' + this.options[this.selectedIndex].value;">
                        {% for o in result_nums %}
                        <option{% if o == result_features.paginator.per_page %} selected{% endif %}>{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <p>Viewing results {{ result_features.start_index }} through {{ result_features.end_index }}</p>
        <div class="navbar navbar-inverse">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" id="collapse_trigger"  class="navbar-brand">Selected &#x25BC;</a>
                <div class="nav-collapse collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'search_organism' %}?q={{ query_string }}">Organisms</a>
                        </li>
                        <li>
                            <a href="{% url 'search_msa' %}?q={{ query_string }}">Multiple Sequence Alignments</a>
                        </li>
                        <li>
                            <a href="{% url 'search_phylo' %}?q={{ query_string }}">Phylogenetic Trees</a>
                        </li>
                        <li>
                            <a id="clear" href="#">Clear</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="collapsible">
                <div id="table_wrapper">
                    <table id="selected" class="table table-bordered" style="margin-bottom: 0;">
                        <tbody>
                            {% for id, name in selected.items %}
                            <tr>
                                <td class="active"><button data-id="{{ id }}" class="btn btn-danger">Remove</button>&nbsp;{{ name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><button id="add-all" data-page="{{ results.number }}" type="button" class="btn btn-default">Add all</button>&nbsp;&nbsp;Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for r in result_features %}
                <tr>
                    <td><button data-id="{{ r.feature.pk }}" data-name="{{ r.feature.name }}" type="button" class="btn {% if r.feature.pk in selected %}btn-danger">Remove{% else %}btn-default">Add{% endif %}</button>&nbsp;&nbsp;{{ r.name }}</td>
                    <td><a href="{% url 'feature_view' r.feature_id %}">view</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center">
            <ul class="pagination">
                <li class="{% if result_features.has_previous %}enabled{% else %}disabled{% endif %}"><a href="{% if result_features.has_previous %}?q={{ query_string }}&page={{ result_features.previous_page_number }}{% else %}#{% endif %}">&laquo;</a></li>
                {% for p in result_features.paginator.display_page_range %}
                <li class="{% if p == result_features.number %}disabled{% else %}enabled{% endif %}"><a href="?q={{ query_string }}&page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                <li class="{% if result_features.has_next %}enabled{% else %}disabled{% endif %}"><a href="{% if result_features.has_next %}?q={{ query_string }}&page={{ result_features.next_page_number }}{% else %}#{% endif %}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        // total results on this page helper variable
        var result_count = {{ result_features.end_index }} - {{ result_features.start_index }} + 1;

        // sticky navbar
        var stickyNavTop = $('.navbar-inverse').offset().top;
        var stickyNav = function(){
            var scrollTop = $(window).scrollTop()+50; // pad for the main navbar
            if (scrollTop > stickyNavTop) {   
                $('.navbar-inverse').addClass('sticky');  
            } else {
                $('.navbar-inverse').removeClass('sticky');   
            }
        };
        stickyNav();  
        $(window).scroll(function() {
            stickyNav();  
        });

        // collapsible navbar
        $('#collapse_trigger').on('click', function(e) {
            console.log("click");
            e.preventDefault();
            $('#collapsible').collapse('toggle');
        });

    });
</script>
{% endblock %}
