{% extends 'chado/base.html' %}
{% load static %}
{% block css %}
<style type="text/css">
.highlight {
    background-color: #DFF0D8;
}
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 50px; /* below the main navbar */ 
    z-index: 100;  
    border-top: 0;  
} 
#collapsible { /* hides by default */
    height: 0;
    overflow: hidden;
}
#table_wrapper {
    max-height: 300px;
    overflow: auto;
    margin: 0 0 20px 0;
}
</style>
{% endblock %}
{% block content %}
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Results for "{{ query_string }}"</h1>
            <p>Feature</p>
            <!--<p><a>Feature (12)</a> > <a>MSA (234)</a> > <a>Feature (43)</a> > <a>Phylo (2)</a> > Organism</p>-->
            <p class="lead">{{ results.paginator.count }} results.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Results per page</label>
                <div class="col-sm-10">
                    <select class="form-control" ONCHANGE="location = '?q={{ query_string }}&page={{ results.number }}&num=' + this.options[this.selectedIndex].value;">
                        {% for o in result_nums %}
                        <option{% if o == results.paginator.per_page %} selected{% endif %}>{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <p>Viewing results {{ results.start_index }} through {{ results.end_index }}</p>
        <div class="navbar navbar-inverse">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" id="collapse_trigger"  class="navbar-brand">Selected &#x25BC;</a>
                <div class="nav-collapse collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'search_organism' depth %}?q={{ query_string }}">Organisms</a>
                        </li>
                        <li>
                            <a href="{% url 'search_msa' depth %}?q={{ query_string }}">Multiple Sequence Alignments</a>
                        </li>
                        <li>
                            <a href="{% url 'search_phylo' depth %}?q={{ query_string }}">Phylogenetic Trees</a>
                        </li>
                        <li>
                            <a id="clear" href="#">Clear</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="collapsible">
                <div id="table_wrapper">
                    <table id="selected" class="table table-bordered" style="margin-bottom: 0;">
                        <tbody>
                            {% for id, name in selected.items %}
                            <tr>
                                <td class="active"><button data-id="{{ id }}" class="btn btn-danger">Remove</button>&nbsp;{{ name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <table id="results" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><button id="add-all" data-page="{{ results.number }}" type="button" class="btn btn-default">Add all</button>&nbsp;&nbsp;Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for r in results %}
                <tr>
                    <td><button data-id="{{ r.feature.pk }}" data-name="{{ r.feature.name }}" type="button" class="btn {% if r.feature.pk in selected %}btn-danger">Remove{% else %}btn-default">Add{% endif %}</button>&nbsp;&nbsp;{{ r.feature.name }}</td>
                    <td>
                        <b>CV Term:</b> {{ r.cvterm.name }}<br/>
                        <b>CV Description:</b> {{ r.cvterm.definition }}
                    </td>
                    <td><a href="{% url 'feature_view' r.feature_id %}">view</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center">
            <ul class="pagination">
                <li class="{% if results.has_previous %}enabled{% else %}disabled{% endif %}"><a href="{% if results.has_previous %}?q={{ query_string }}&page={{ results.previous_page_number }}{% else %}#{% endif %}">&laquo;</a></li>
                {% for p in results.paginator.display_page_range %}
                <li class="{% if p == results.number %}disabled{% else %}enabled{% endif %}"><a href="?q={{ query_string }}&page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                <li class="{% if results.has_next %}enabled{% else %}disabled{% endif %}"><a href="{% if results.has_next %}?q={{ query_string }}&page={{ results.next_page_number }}{% else %}#{% endif %}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $.fn.highlight = function (str, className) {
        var regex = new RegExp(str, "gi");
        return this.each(function () {
            $(this).contents().filter(function() {
                return this.nodeType == 3 && regex.test(this.nodeValue);
            }).replaceWith(function() {
                return (this.nodeValue || "").replace(regex, function(match) {
                    return "<span class=\"" + className + "\">" + match + "</span>";
                });
            });
        });
    };

    $(document).ready(function() {

        // total results on this page helper variable
        var result_count = {{ results.end_index }} - {{ results.start_index }} + 1;

        // highlight search query
        $("#results *").highlight("{{ query_string }}", "highlight");

        // sticky navbar
        var stickyNavTop = $('.navbar-inverse').offset().top;  
        var stickyNav = function(){  
            var scrollTop = $(window).scrollTop()+50; // pad for the main navbar
            if (scrollTop > stickyNavTop) {   
                $('.navbar-inverse').addClass('sticky');  
            } else {  
                $('.navbar-inverse').removeClass('sticky');   
            } 
        };
        stickyNav();  
        $(window).scroll(function() {  
            stickyNav();  
        });

        // collapsible navbar
        $('#collapse_trigger').on('click', function(e) {
            e.preventDefault();
            $('#collapsible').collapse('toggle');
        });

        // add result to navbar
        var addRow = function(id, name) {
            $('#selected > tbody:last').append('<tr class="active"><td><button type="button" data-id="'+id+'" class="btn btn-danger">Remove</button>&nbsp;'+name+'</button></td></tr>');
        };

        // remove results from navbar
        var removeRow = function(id) {
            $('#selected > tbody button[data-id="'+id+'"]').closest('tr').remove();
        };

        // toggle result buttons in result table
        var toggleButton = function(id) {
            if ($('#results > tbody button[data-id="'+id+'"]').hasClass('btn-default')) {
                $('#results > tbody button[data-id="'+id+'"]').removeClass('btn-default');
                $('#results > tbody button[data-id="'+id+'"]').addClass('btn-danger');
                $('#results > tbody button[data-id="'+id+'"]').text('Remove');
            } else {
                $('#results > tbody button[data-id="'+id+'"]').removeClass('btn-danger');
                $('#results > tbody button[data-id="'+id+'"]').addClass('btn-default');
                $('#results > tbody button[data-id="'+id+'"]').text('Add');
            }
        };

        // toggle to add all button
        var toggleAllButton = function() {
            if ($('#add-all').hasClass('btn-default')) {
                $('#add-all').removeClass('btn-default');
                $('#add-all').addClass('btn-danger');
                $('#add-all').text('Remove all');
            } else {
                $('#add-all').removeClass('btn-danger');
                $('#add-all').addClass('btn-default');
                $('#add-all').text('Add all');
            }
        };

        if ($('#results > tbody button.btn-danger').length == result_count) {
            toggleAllButton();
        }

        // when the add all button is clicked
        $('#add-all').on('click', function() {
            if ($(this).hasClass('btn-default') && $('#results > tbody button').length > 0) {
                console.log($('#results > tbody button.btn-danger'));
                var to_add = [];
                $('#results > tbody button.btn-default').each(function() {
                    to_add.push($(this).data('id'));
                });
                $.ajax({
                    url: "{% url 'search_add_all_ajax' depth %}",
                    data: {
                        results: to_add,
                        // all pages are protected against csrf so we need to pass the token for this page
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    contextType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function() {
                        toggleAllButton();
                        // set all buttons that aren't added to remove and add them to the cart
                        $('#results > tbody button.btn-default').each(function() {
                            var id = $(this).data('id');
                            toggleButton(id);
                            addRow(id, $(this).data('name'));
                        });
                    },
                    error: function(ts) {
                        alert(ts.responseText);
                    }
                });
            } else {
                var to_remove = [];
                $('#results > tbody button.btn-danger').each(function() {
                    to_remove.push($(this).data('id'));
                });
                $.ajax({
                    url: "{% url 'search_remove_all_ajax' depth %}",
                    data: {
                        results: to_remove,
                        // all pages are protected against csrf so we need to pass the toke for this page
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function() {
                        toggleAllButton();
                        // remove all rows from the current page in the cart
                        $('#results > tbody button.btn-danger').each(function() {
                            var id = $(this).data('id');
                            toggleButton(id);
                            removeRow(id);
                        });
                    },
                    error: function(ts) {
                        alert(ts.responseText);
                    }
                });
            }
        });


        // when a result in the result table is clicked
        $('#results > tbody button').on('click', function() {
            var id = $(this).data('id');
            if ($(this).hasClass('btn-default')) {
                var name = $(this).data('name');
                $.ajax({
                        url: "{% url 'search_add_result_ajax' depth %}",
                        data: {
                            result: id,
                            // all pages are protected against csrf so we need to pass the token for this page
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        contentType: "application/json;charset=utf-8",
                        dataType: "text",
                        success: function() {
                            addRow(id, name);
                            toggleButton(id);
                            if ($('#add-all').hasClass('btn-default') && $('#results > tbody button.btn-danger').length == result_count) {
                                toggleAllButton();
                            }
                        },
                        error: function(ts) { 
                            // this is for debugging, not production!
                            alert(ts.responseText);
                        }
                });
            } else {
                $.ajax({
                        url: "{% url 'search_remove_result_ajax' depth %}",
                        data: {
                            result: id,
                            // all pages are protected against csrf so we need to pass the token for this page
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        contentType: "application/json;charset=utf-8",
                        dataType: "text",
                        success: function() {
                            if ($('#add-all').hasClass('btn-danger') && $('#results > tbody button.btn-danger').length == result_count) {
                                toggleAllButton();
                            }
                            removeRow(id);
                            toggleButton(id);
                        },
                        error: function(ts) { 
                            // this is for debugging, not production!
                            alert(ts.responseText);
                        }
                });
            }
        });

        // when a result is clicked in the navbar
        $(document.body).on('click', '#selected > tbody button', function() {
            var id = $(this).data('id');
            $.ajax({
                    url: "{% url 'search_remove_result_ajax' depth %}",
                    data: {
                        result: id,
                        // all pages are protected against csrf so we need to pass the token for this page
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function() {
                        if ($('#add-all').hasClass('btn-danger') && $('#results > tbody button.btn-danger').length == result_count) {
                            toggleAllButton();
                        }
                        removeRow(id);
                        toggleButton(id);
                    },
                    error: function(ts) { 
                        // this is for debugging, not production!
                        alert(ts.responseText);
                    }
            });
        });

        // when the navbar clear button is clicked
        $('#clear').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                    url: "{% url 'search_clear_results_ajax' depth %}",
                    data: {
                        // all pages are protected against csrf so we need to pass the token for this page
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function() {
                        $('#selected > tbody button').each( function() {
                            toggleButton($(this).data('id'));
                        });
                        if ($('#add-all').hasClass('btn-danger')) {
                            toggleAllButton();
                        }
                        $('#selected > tbody').html('');
                    },
                    error: function(ts) { 
                        // this is for debugging, not production!
                        alert(ts.responseText);
                    }
            });
        });
    });
</script>
{% endblock %}
