{% extends 'chado/base.html' %}
{% load static %}
{% block css %}
<style type="text/css">
    body {
        word-wrap: break-word;
    }
</style>
{% endblock %}
{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ consensus.name }}</h1>
            <a href="{% url 'msa_view' consensus.pk %}">back</a> | <a href="{% url 'msa_consensus_download' consensus.pk %}">download</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>
        <pre>

{% if consensus.residues %}
>{{ consensus.uniquename }}
{{ consensus.residues }}
{% endif %}
{% for f in featurelocs %}
>{{ f.feature.uniquename }}
{{ f.residue_info }}
{% endfor %}
        </pre>
        </p>
    </div>
</div>
{% endblock %}
