{% extends 'chado/base.html' %}
{% load static %}
{% block content %}
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Multiple Sequence Alignments</h1>
            <p class="lead">There a currently {{ count }} multiple sequence alignments in the database.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Results per page</label>
                <div class="col-sm-10">
                    <select class="form-control" ONCHANGE="location = '?page={{ results.number }}&num=' + this.options[this.selectedIndex].value;">
                        {% for o in result_nums %}
                        <option{% if o == num %} selected{% endif %}>{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <p>Viewing multiple sequence alignments {{ msas.start_index }} through {{ msas.end_index }}</p>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for m in msas %}
                <tr>
                    <td>{{ m.name }}</td>
                    <td><a href="{% url 'msa_view' m.pk %}">view</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center">
            <ul class="pagination">
                <li class="{% if msas.has_previous %}enabled{% else %}disabled{% endif %}"><a href="{% if msas.has_previous %}?page={{ msas.previous_page_number }}{% else %}#{% endif %}">&laquo;</a></li>
                {% for p in msas.paginator.page_range %}
                <li class="{% if p == msas.number %}disabled{% else %}enabled{% endif %}"><a href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                <li class="{% if msas.has_next %}enabled{% else %}disabled{% endif %}"><a href="{% if msas.has_next %}?page={{ msas.next_page_number }}{% else %}#{% endif %}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
