{% extends 'chado/base.html' %}
{% load static %}
{% block content %}
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Context viewer</h1>
            <a href="{% url 'context_gff_download' %}?flocs={{ floc_id_string }}">download gff</a>
            <br>
            <a href="http://velarde.ncgr.org:7070/isys/launch?svc=org.ncgr.cmtv.isys.CompMapViewerService%40--style%40http://velarde.ncgr.org:7070/isys/bin/Components/cmtv/conf/cmtv_combined_map_style.xml%40--combined_display%40http://{{ request.get_host }}{% url 'context_gff_download' %}?flocs={{ floc_id_string }}">view in CMTV</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <ul>
            {% for key, value in color_map.items %}
            <li><a style="color:{{ value.color }};" href="{% url 'phylo_view' value.id %}">{{ key }}</a></li>
            {% endfor %}
        </ul>
        <table class="table table-bordered table-striped table-hover">
        {% for t in tracks %}
        <tr>
        {% for g in t.before %}
            <td>name: {{ g.feature.name }}, fmin: {{ g.fmin }}, fmax: {{ g.fmax }}, strand: {{ g.strand }}, families: {% for f in g.families %}<span style="color:{{ f.color }};">{{ f.name }}</span>&nbsp{% endfor %}</td>
        {% endfor %}
            <td><b>name: {{ t.focus.feature.name }}, fmin: {{ t.focus.fmin }}, fmax: {{ t.focus.fmax }}, strand: {{ t.focus.strand }}, family: <span style="color:{{ t.focus.family.color }};">{{ t.focus.family.name }}</span></b></td>
        {% for g in t.after %}
            <td>name: {{ g.feature.name }}, fmin: {{ g.fmin }}, fmax: {{ g.fmax }}, strand: {{ g.strand }}, families: {% for f in g.families %}<span style="color:{{ f.color }};">{{ f.name }}</span>&nbsp{% endfor %}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
