{% extends 'chado/base.html' %}
{% load static %}
{% block css %}
<style>

#contextviewer, #synteny {
	  font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot {
	  stroke: #000;
}

.rect {
	fill-opacity: 0.0;
	stroke: #000;
}

#synteny .rect:hover {
	cursor: crosshair;
}

#toolbar {
	position: fixed;
	top: 50px; /* below the main navbar */
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 20px;
	background-color: #F6F6F6;
	border-left: 1px solid #eee;
	z-index: 200;
}

#legend {
	height: 100%;
	overflow: auto;
}

.tip {
    fill: black;
    font-size: 11px;
	visibility: hidden;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#contextviewer {
	background-color: #f6f6f6;
	border-bottom: 1px solid #eee;
}

.track {
    stroke: #000;
}

.sticky {  
    position: fixed;  
    left: 0;  
    top: 50px; /* below the main navbar */ 
    z-index: 100;  
}

</style>
{% endblock %}
{% block content %}
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Synteny Miner</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block post-content %}
	<div id="contextviewer"></div>
	<div class="col-lg-9" id="synteny">
	</div>
	<div class="col-lg-3" id="toolbar">
		<div id="legend">
		</div>
	</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">
var json = '{{ json|safe }}';

$(document).ready(function() {
    // sticky navbar
    var stickyContextTop = $('#contextviewer').offset().top;  
    var stickyContext = function(){  
        var scrollTop = $(window).scrollTop()+50; // pad for the main navbar
        if (scrollTop > stickyContextTop) {   
            $('#contextviewer').addClass('sticky');  
        } else {  
            $('#contextviewer').removeClass('sticky');   
        } 
    };
    stickyContext();  
    $(window).scroll(function() {  
        stickyContext();  
    });
});
</script>
<script type="text/javascript" src="{% static 'js/synteny.js' %}"></script>
{% endblock %}
