{% extends 'chado/base.html' %}
{% load static %}
{% block content %}
<!-- Welcome text -->
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome</h1>
            <p class="lead">This is the chado homepage for the <a href="http://www.comparative-legumes.org" target="_blank">Legume Information System</a>.</p>
        </div>
    </div>
</div>

<!-- History -->
    <!-- Origins -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="type">History</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in leo tortor. Maecenas sodales dui metus, ac rutrum nunc condimentum in. Mauris pellentesque, lacus sit amet condimentum pellentesque, velit ante lacinia risus, id iaculis felis massa vitae nibh. Curabitur sit amet elit sed odio aliquet auctor at sit amet nibh. Donec tempor luctus tincidunt. Nullam imperdiet neque at enim mattis, sit amet convallis lorem vehicula. Etiam ullamcorper justo quis lorem mollis, at porta odio ornare. Mauris nunc massa, tempor vitae elit in, tincidunt venenatis urna. Nunc volutpat placerat vehicula. Pellentesque dignissim imperdiet cursus. Proin sed urna ac lectus bibendum euismod. Morbi ultrices bibendum consequat. Nulla id justo at augue aliquet vehicula a id dui. Nam libero urna, porttitor in interdum et, fringilla eu nisi.</p>
                <p>Proin ultricies quam vel mi luctus, ut vehicula erat aliquet. Sed nisl nibh, tristique ut eros eu, dignissim aliquet lectus. Aliquam gravida enim diam, sit amet condimentum lorem sodales quis. Pellentesque auctor turpis non leo tincidunt luctus. Nam imperdiet diam ultricies porttitor sagittis. Morbi varius enim nec leo sagittis semper. Praesent laoreet, arcu quis pharetra suscipit, eros enim pharetra risus, et fermentum neque eros at erat. Phasellus sit amet libero quis enim tristique porttitor vitae congue metus. Integer enim odio, ullamcorper eget quam sit amet, euismod tempor eros.</p>
            </div>
        </div>
    </div>
    <!-- Collaborators -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Some other text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id odio non ante consequat molestie at ut enim. Donec dapibus justo a lacus aliquet congue. Vestibulum et quam scelerisque purus gravida ullamcorper a in nunc. Morbi mollis pellentesque odio, quis feugiat tortor sollicitudin vitae. Donec lacinia pulvinar ultrices. Suspendisse potenti. Maecenas consequat eget mauris vitae imperdiet. Nam auctor dapibus luctus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec justo metus, interdum imperdiet pharetra a, commodo at purus.</p>
        </div>
        <div class="col-lg-6">
            <h2>Chado?</h2>
            <blockquote class="pull-right">
                <p>The way of tea</p>
                <small>Japanese <cite title="Source Title">Translation</cite></small>
            </blockquote>
        </div>
    </div>
{% endblock %}

