{% extends 'chado/base.html' %}
{% load static %}
{% block content %}
<!-- Welcome text -->
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome</h1>
            <p class="lead">This is the chado homepage for the <a href="http://www.comparative-legumes.org" target="_blank">Legume Information System</a>.</p>
        </div>
    </div>
</div>

<!-- History -->
    <!-- Origins -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="type">History</h1>
                <p>This is a bunch of sample text to see if the div contents are going to overflow onto the other divs.</p>
            </div>
        </div>
    </div>
    <!-- Collaborators -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Some other text</h2>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        </div>
        <div class="col-lg-6">
            <h2>Chado?</h2>
            <blockquote class="pull-right">
                <p>The way of tea</p>
                <small>Japanese <cite title="Source Title">Translation</cite></small>
            </blockquote>
        </div>
    </div>
{% endblock %}

