{% extends 'chado/base.html' %}
{% load static %}
{% block css %}
<style type="text/css">
    body {
        word-wrap: break-word;
    }
</style>
{% endblock %}
{% block content %}
<div class="page-header" id="header">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ tree.name }}</h1>
            <a href="{% url 'phylo_view' tree.name %}">back</a> | <a href="{% url 'phylo_newick_download' tree.name %}">download</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>{{ newick }}</p>
    </div>
</div>
{% endblock %}
