{% extends 'chado/base.html' %}
{% load static %}
{% block css %}
<style>
#toggle {
	width: 33%;
	/*height: 100px;*/
	height: 100%;
	background-color: rgb(238, 238, 238);
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
	padding: 0 10px;
	text-align: left;
	overflow: auto;
}
#toggle h4 {
	word-wrap:break-word;
}
</style>
{% endblock %}
{% block content %}
<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ tree.name }}</h1>
            <a href="{% url 'phylo_newick' tree.pk %}">view</a> | <a href="{% url 'phylo_newick_download' tree.pk %}">download</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <div id="tree" style="text-align: center">
		<div id="toggle"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jsphylosvg-min.js' %}"></script>
<script type="text/javascript">
    window.onload = function() {
        {% if alert %}
        alert("{{ alert }}");
        {% endif %}
        var width = document.getElementById('tree').offsetWidth;
        var height = {{ num_leafs }} * 30;
        Smits.PhyloCanvas.Render.Style.connectedDash.stroke = 'rgb(0,0,0)';
        var data = '{{ xml|safe }}';
        var dataObject = {
            xml: data,
            fileSource: false
        }; 
        phylocanvas = new Smits.PhyloCanvas(
            dataObject,     // the tree
            'tree',         // div Id where to render
            width, height   // width and hiehgt in pixels
        );
    }
</script>
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function()
	{
		// make sure the toggle div is not showing when the page loads
        	$('#toggle').hide();
	});
	$('#tree').on('click', function(e) {
		// put the closest hyperlink into a jquery variable
		var $a = $(e.target).closest('a');
		// if a hyperlink was selected
		if ($a.length) {
			// if the hyperlink is in the tree, not the toggle div
			if (!$a.parent().is($('#toggle'))) {
				e.preventDefault();
				var links = $a.attr('href').split("|");
				var html = '<h4>'+$a.text()+'</h4>';
				var i;
				for (i = 0; i < links.length; i++) {
					html += '<a href="'+links[i]+'">'+$a.text()+'</a><br />';
				}
				html += '<p>'+$a.attr('title')+'</p>'
				$('#toggle').html(html);
				// don't toggle it unless it's currently hidden
				if (!$('#toggle').is(':visible')) {
					$('#toggle').toggle('slide');
				}
			}
		}
		else if ($('#toggle').is(':visible')) {
			$('#toggle').toggle('slide');
		}
	});
</script>
{% endblock %}
